USE [master]
GO
/****** Object:  Database [matriculas_ll]    Script Date: 04/26/2019 09:18:03 ******/
CREATE DATABASE [matriculas_ll] ON  PRIMARY 
( NAME = N'matriculas_ll', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\matriculas_ll.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'matriculas_ll_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\matriculas_ll_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [matriculas_ll].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [matriculas_ll]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 04/26/2019 09:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[curso](
	[id_curso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_curso] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[curso] ON
INSERT [dbo].[curso] ([id_curso], [Nombre]) VALUES (1, N'1 basico')
INSERT [dbo].[curso] ([id_curso], [Nombre]) VALUES (2, N'2 basico')
INSERT [dbo].[curso] ([id_curso], [Nombre]) VALUES (3, N'3 basico')
SET IDENTITY_INSERT [dbo].[curso] OFF
/****** Object:  Table [dbo].[apoderado]    Script Date: 04/26/2019 09:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[apoderado](
	[rut_apoderado] [varchar](10) NOT NULL,
	[nombre_apoderado] [varchar](200) NULL,
	[domicilio] [varchar](150) NULL,
	[fono] [int] NULL,
 CONSTRAINT [PK_apoderado] PRIMARY KEY CLUSTERED 
(
	[rut_apoderado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 04/26/2019 09:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alumno](
	[rut_alumno] [varchar](10) NOT NULL,
	[nombres] [varchar](100) NULL,
	[apellidos] [varchar](100) NULL,
	[fecha_nacimiento] [date] NULL,
	[estado] [varchar](50) NULL,
	[sexo] [varchar](25) NULL,
 CONSTRAINT [PK_alumno] PRIMARY KEY CLUSTERED 
(
	[rut_alumno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 04/26/2019 09:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](80) NULL,
	[pass] [varchar](100) NULL,
	[tipo_usuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario]) VALUES (3, N'roy hidalgo', N' ', N'admin')
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario]) VALUES (12, N'Franco Atala', N'12346789', N'admin')
INSERT [dbo].[usuario] ([id_usuario], [nombre_usuario], [pass], [tipo_usuario]) VALUES (13, N'c. oyarzun', N'oyarzun1234', N'admin')
SET IDENTITY_INSERT [dbo].[usuario] OFF
/****** Object:  Table [dbo].[matricula]    Script Date: 04/26/2019 09:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[matricula](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[rut_alumno] [varchar](10) NULL,
	[rut_apoderado] [varchar](10) NULL,
	[id_usuario] [int] NULL,
	[fecha_matricula] [date] NULL,
	[escuela_procedencia] [varchar](200) NULL,
	[cursos_repetidos] [varchar](100) NULL,
	[domicilio_alumno] [varchar](200) NULL,
	[alergico] [varchar](200) NULL,
	[grupo_sanguineo] [varchar](100) NULL,
	[enfermedad] [varchar](200) NULL,
	[grupo_pie] [varchar](50) NULL,
	[nombre_padre] [varchar](200) NULL,
	[nombre_madre] [varchar](200) NULL,
	[rut_padre] [varchar](10) NULL,
	[rut_madre] [varchar](10) NULL,
	[trabajo_padre] [varchar](200) NULL,
	[trabajo_madre] [varchar](200) NULL,
	[escolaridad_padre] [varchar](200) NULL,
	[escolaridad_madre] [varchar](200) NULL,
	[vive_con] [varchar](200) NULL,
	[casa_propia] [varchar](200) NULL,
	[ingreso_mensual] [int] NULL,
	[beneficio] [varchar](200) NULL,
	[religion] [varchar](50) NULL,
	[curso_alumno] [int] NULL,
	[fono_urgencia_1] [int] NULL,
	[fono_urgencia_2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[proc_matriculas]    Script Date: 04/26/2019 09:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_matriculas]
    @rut_del_alumno varchar(10)   
AS   

select alumno.rut_alumno ,alumno.nombres,alumno.apellidos,alumno.fecha_nacimiento, alumno.edad,curso.Nombre ,alumno.fono_urgencia ,alumno.fono_urgencia_otro,apoderado.rut_apoderado , apoderado.nombre_apoderado ,apoderado.domicilio , apoderado.fono  ,matricula.fecha_matricula ,matricula.escuela_procedencia ,matricula.cursos_repetidos ,matricula.domicilio_alumno ,matricula.alergico , matricula.grupo_sanguineo ,matricula.enfermedad ,matricula.grupo_pie ,matricula.nombre_padre ,matricula.nombre_madre ,matricula.rut_padre ,matricula.rut_madre ,matricula.trabajo_padre ,matricula.trabajo_madre ,matricula.escolaridad_padre ,matricula.escolaridad_madre ,matricula.vive_con ,matricula.casa_propia ,matricula.ingreso_mensual ,matricula.beneficio ,matricula.religion , usuario.nombre_usuario
from alumno,apoderado , curso , matricula ,usuario 
where matricula.rut_alumno = alumno.rut_alumno and
apoderado.rut_apoderado = matricula.rut_apoderado and
alumno.curso = curso.id_curso and
matricula.id_usuario = usuario.id_usuario and
matricula.rut_alumno = @rut_del_alumno
GO
/****** Object:  ForeignKey [fk_alumno_alumno]    Script Date: 04/26/2019 09:18:05 ******/
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [fk_alumno_alumno] FOREIGN KEY([rut_alumno])
REFERENCES [dbo].[alumno] ([rut_alumno])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [fk_alumno_alumno]
GO
/****** Object:  ForeignKey [fk_alumno_apoderado]    Script Date: 04/26/2019 09:18:05 ******/
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [fk_alumno_apoderado] FOREIGN KEY([rut_apoderado])
REFERENCES [dbo].[apoderado] ([rut_apoderado])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [fk_alumno_apoderado]
GO
/****** Object:  ForeignKey [fk_alumno_usuario]    Script Date: 04/26/2019 09:18:05 ******/
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [fk_alumno_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [fk_alumno_usuario]
GO
/****** Object:  ForeignKey [FK_matricula_curso]    Script Date: 04/26/2019 09:18:05 ******/
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK_matricula_curso] FOREIGN KEY([curso_alumno])
REFERENCES [dbo].[curso] ([id_curso])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK_matricula_curso]
GO
